/* Add-Payment */

position: relative;
width: 1440px;
height: 1024px;

background: #ededed;
border-radius: 16px;

/* Form */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 16px;

position: absolute;
width: 676px;
height: 658px;
left: 382px;
top: 298px;

/* UI/White */
background: #ffffff;
border-radius: 15px;

/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 8px;

width: 612px;
height: 54px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Add a new Card */

width: 356px;
height: 38px;

/* Subtitle/Small/Regular/Expanded */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.25em;
text-transform: uppercase;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 612px;
height: 99px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 596px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 8px;
gap: 10px;

width: 131px;
height: 19px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Label */

width: 115px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Input-Field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 596px;
height: 56px;

/* UI/White */
background: #ffffff;
box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Input-Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 564px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Placeholder */

width: 548px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* CardNumber */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 612px;
height: 99px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 596px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 8px;
gap: 10px;

width: 104px;
height: 19px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Label */

width: 88px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Input-Field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 596px;
height: 56px;

/* Font/White */
background: #ffffff;
box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Input-Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 564px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.62%;
bottom: 15.62%;

/* Font/Placeholder */
background: rgba(26, 31, 22, 0.5);
opacity: 0.5;

/* Placeholder */

width: 514px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Date-CVC */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 596px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Input-Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 186px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 186px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 8px;
gap: 10px;

width: 91px;
height: 19px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Label */

width: 75px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Input-Field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 186px;
height: 56px;

/* UI/White */
background: #ffffff;
box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Input-Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 154px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

/* Font/Placeholder */
background: rgba(26, 31, 22, 0.5);

/* Placeholder */

width: 104px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Input-Field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 141px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 141px;
height: 83px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 8px;
gap: 10px;

width: 45px;
height: 19px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Label */

width: 29px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Input-Field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 141px;
height: 56px;

/* UI/White */
background: #ffffff;
box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Input-Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 109px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Placeholder */

width: 93px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Save */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px 8px;
gap: 8px;

width: 612px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;

/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 381px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Checkbox-Input */

width: 16px;
height: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Checkbox-Input */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* UI/Tertiary */
border: 1px solid #60695c;
border-radius: 2px;

/* Inner */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Font/Accent */
background: #12805d;
border-radius: 1px;

/* Label */

width: 357px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* CTA */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 612px;
height: 72px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 580px;
height: 40px;

/* UI/Dark */
background: #1a1f16;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.62%;
bottom: 15.62%;

/* UI/White */
background: #ffffff;

/* Button */

width: 187px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Infromation */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 612px;
height: 35px;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

margin: 0 auto;
width: 79px;
height: 35px;

border-radius: 11px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 31px;
height: 19px;

font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
text-decoration-line: underline;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 155px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 3.12%;
bottom: 3.12%;

/* Font/Success */
background: #02d693;

/* Secure Connection */

width: 123px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Success */
color: #02d693;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Payment-Methods */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px;

position: absolute;
width: 676px;
height: 198px;
left: 382px;
top: 68px;

/* UI/White */
background: #ffffff;
border-radius: 13px;

/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;

width: 344px;
height: 70px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Select a Card */

width: 312px;
height: 38px;

/* Subtitle/Small/Regular/Expanded */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.25em;
text-transform: uppercase;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Payment-Method */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 8px;

width: 660px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Icon-Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 40px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.62%;
bottom: 15.62%;

/* Font/Placeholder */
background: rgba(26, 31, 22, 0.5);

/* MasterCard ending in 4242 */

width: 228px;
height: 24px;

/* Face/H5 */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Payment-Method */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 8px;

width: 660px;
height: 56px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Icon-Area */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 40px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.62%;
bottom: 15.62%;

/* Font/Placeholder */
background: rgba(26, 31, 22, 0.5);

/* VISA Debit ending in 2894 */

width: 225px;
height: 24px;

/* Face/H5 */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
