/* Address-Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 871px;
height: 214px;

/* UI/White */
background: #ffffff;
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 385px;
height: 54px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Payment Method */

width: 369px;
height: 38px;

/* Subtitle/Small/Regular/Expanded */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.25em;
text-transform: uppercase;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Conent */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

width: 839px;
height: 120px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Current-Address */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 16px;

margin: 0 auto;
width: 384px;
height: 120px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 250px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.62%;
bottom: 15.62%;

/* Font/Dark */
background: #1a1f16;

/* Mastercard ending in 1252 */

width: 218px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Gift-Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 236px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icon */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 12.5%;
bottom: 71.88%;

/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 6.31%;
bottom: 6.25%;

/* Font/Dark */
background: #1a1f16;

/* $ 53.21 gift card balance */

width: 202px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Billing Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 368px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 368px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Checkbox-Input */

width: 16px;
height: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Checkbox-Input */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* UI/Tertiary */
border: 1px solid #60695c;
border-radius: 2px;

/* Inner */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Font/Accent */
background: #12805d;
border-radius: 1px;

/* Label */

width: 344px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Change Billing Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Change Billing Address */

width: 192px;
height: 24px;

font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 114px;
height: 51px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 98px;
height: 35px;

/* UI/Dark */
border: 1px solid #1a1f16;
border-radius: 11px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 50px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
