/* Content-Frame */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 48px;
gap: 10px;

position: absolute;
width: 973px;
height: 1421px;
left: 122px;
top: 0px;
overflow-y: scroll;

/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 8px 24px;
gap: 16px;

width: 460px;
height: 91px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Check your Bag Items */

width: 444px;
height: 59px;

/* Title/Small/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 48.83px;
line-height: 59px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Bag-Contents */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 877px;
height: 1224px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 877px;
height: 288px;

/* UI/White */
background: #ffffff;
border-radius: 21px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Product-Image */

width: 203.54px;
height: 254px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Image */

position: absolute;
left: 0%;
right: 0%;
top: -15.5%;
bottom: -15.5%;

background: url(.png);

/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 609.46px;
height: 256px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 593.46px;
height: 70px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 166px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Item Name */

width: 150px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 67px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item Type */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Star-01 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-02 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-03 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-04 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-05 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805d;

/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805d;

/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805d;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 66px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 135px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* $ 9.99 */

width: 82px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #e5252c;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02d693;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02d693;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 877px;
height: 288px;

/* UI/White */
background: #ffffff;
border-radius: 21px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Product-Image */

width: 203.54px;
height: 254px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Image */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);

/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 609.46px;
height: 256px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 593.46px;
height: 70px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 137px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Item Name */

width: 121px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 101px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item Type */

width: 85px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Star-01 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-02 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-03 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-04 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-05 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805d;

/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805d;

/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805d;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 66px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 132px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* $ 9.99 */

width: 75px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #e5252c;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02d693;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02d693;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 877px;
height: 288px;

/* UI/White */
background: #ffffff;
border-radius: 21px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Product-Image */

width: 203.54px;
height: 254px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Image */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);

/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 609.46px;
height: 256px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 593.46px;
height: 70px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 137px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Item Name */

width: 121px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 116px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item Type */

width: 100px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Star-01 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-02 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-03 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-04 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-05 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805d;

/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805d;

/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805d;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 66px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 125px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* $ 9.99 */

width: 72px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #e5252c;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02d693;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02d693;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 877px;
height: 288px;

/* UI/White */
background: #ffffff;
border-radius: 21px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

/* Product-Image */

width: 203.54px;
height: 254px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Image */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);

/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 609.46px;
height: 256px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 593.46px;
height: 70px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 137px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Item Name */

width: 121px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 127px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Item Type */

width: 111px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 593.46px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Star-01 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-02 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-03 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-04 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805d;

/* Star-05 */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805d;

/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805d;

/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805d;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 593.46px;
height: 66px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 129px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* $ 9.99 */

width: 72px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #e5252c;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1a1f16;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Icon */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02d693;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02d693;

/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: "Cabin";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
